@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

#root {
    background-color: rgb(244, 125, 74);
}

h1 {
    font-family: 'Nanum Gothic';
    font-size: 4.3vh;
    
} 

.container {
    color: white;
    padding:0px;
    margin:0px;
    border:0px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    font: white;
    border-radius:5px;
    padding:10px;
    width:240px;
    overflow:hidden;
    border-style:groove;
    opacity:0.5;
    font-family:'Helvetica';
    font-weight:400;
    font-size:16px;
    position:relative;
    margin:10px;
    border-radius: 2rem;
}


.button {
    background-image: linear-gradient(to right, #03a9f4, #00afee, #00b4e7, #00b8de, #00bcd4);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin: 30px;
}


.button:hover:active {
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    color: #fff;
    transform: scale(0.96);
    transition-duration: 200ms;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 45px;
    background-color:#F5F5F5;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding-left: 20px;
    font-size: 16px;

}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

.metric-container {
    color:black;
    margin: 10px 10px 10px 10px;
  
    position: relative;
   
    flex-flow: column wrap;
    flex-wrap: wrap;
    font-family: 'Nanum Gothic';
    display: flex;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius:5px;
    width: auto;
}

.button {
    align-content: center;
  margin-top: 20px;
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.main-div {
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-flow: column wrap;
    flex-wrap: wrap;
    font-family: 'Nanum Gothic';
    display: flex;
    
    
}

.metric-container-info{
    background-image: linear-gradient(to right, #03a9f4, #00afee, #00b4e7, #00b8de, #00bcd4);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 300px;
    height: auto;
    color: white;
    font-size: 20px;
    letter-spacing: 2.5px;
    
    margin: 30px;
}


.chart {
    margin-top: 80px;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #000;
    height: 18px;
    width: 18px;
    margin-top: -8px;
    border-radius: 99px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: #ddd;
  }
  