@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body{
    margin: 0px;

}

#root {
    background-color: rgb(247, 247, 247);
    margin: 0px;
}

h2{
    position: relative;
    left:px ;

    color:rgb(0, 0, 0);
    font-family: 'Nanum Gothic';
    font-size: 5.3vh;
    padding-bottom: 100px;
    padding-top: 70px  
}
h5{
    position: relative;
    left:px ;

    color:rgb(255, 255, 255);
    font-family: 'Nanum Gothic';
    font-size: 5.3vh;
    padding-bottom: 70px;
    padding-top: 70px 
}
h3 {
    font-size: 4.1vh;
    color: black;
}
.metricNameDetails{
    font-size: 4.1vh;
    color: black;
    font-family: 'Nanum Gothic';
}

.singup {
    position: relative;
    left:55px ;
    top:-80px;

    color:rgb(255, 255, 255);
    font-family: 'Nanum Gothic';
    font-size: 2vh;
    padding-bottom: 70px;
    padding-top: 70px  
}

.singup2 {
    position: relative;
    left:5px ;
    top:-80px;

    color:rgba(255, 255, 255, 0.762);
    font-family: 'Nanum Gothic';
    font-size: 2vh;
    padding-bottom: 70px;
    padding-top: 70px 
}


h1 {
    position: relative;
    left:-10px ;

    color:black;
    font-family: 'Nanum Gothic';
    font-size: 5.3vh;
    padding-bottom: 80px
    
} 

.loginPage{
    background: linear-gradient(0deg, rgb(160, 72, 17) 0%, rgba(252, 123, 25) 47%, rgb(254, 156, 82) 100%);
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height:  100%;
    height: 100%;
    padding: 0vh 10vh 5vh 10vh; 
}
.loginCard{
    
  
   

}

.loginImput {
    border-radius:20px;
    padding:10px;
    width:240px;
    height: 40px;
    opacity:0.3;
    font-family:'Helvetica';
    font-weight:200;
    font-size:16px;
    position:relative;
    margin:10px;
    border-radius: 30px;
    padding-bottom: 
}

.button_login {
    background-color: #f9f9f972;
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin: 30px;
}


.loginlabel {
    font-family:'Nanum Gothic'; 
    color:rgba(160, 72, 17, 0.612);
    position: relative;
    left:-90px

    
}
.container {
    
    padding:0px;
    margin:0px;
    border:0px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.metric-container-card{
    background-color: rgb(232, 232, 232);
    margin-top: 30px;
    width: 100%;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    
    border-radius:20px;
    padding:10px;
    width:240px;
    overflow:hidden;
    border-style:groove;
    opacity:0.5;
    font-family:'Helvetica';
    font-weight:400;
    font-size:16px;
    position:relative;
    margin:10px;
    border-radius: 2rem;
}


.button {
    background-image: linear-gradient(to right, #03a9f4, #00afee, #00b4e7, #00b8de, #00bcd4);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin: 30px;
}

.buttonU {
    background-image: linear-gradient(to right, #5cba2d, #09b50f, #076a0a);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 15px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin: 30px;
}

.buttonD {
    background-image: linear-gradient(to right, #e8685f, #e16e61, #fe230a);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 15px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin: 30px;
}

.button:hover:active {
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    color: #fff;
    transform: scale(0.96);
    transition-duration: 200ms;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 45px;
    background-color:#F5F5F5;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding-left: 20px;
    font-size: 16px;

}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    
}

.metric-container {
    color:black;
    margin: 10px 10px 10px 10px;
  
    position: relative;
   
    flex-flow: column wrap;
    flex-wrap: wrap;
    font-family: 'Nanum Gothic';
    display: flex;
    text-align: center;
    
    border-radius:8px;
    width: auto;
}

.button {
    align-content: center;
  margin-top: 20px;
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.main-div {
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    flex-flow: column wrap;
    flex-wrap: wrap;
    font-family: 'Nanum Gothic';
    display: flex;
    
    
}

.metric-container-info{
    background-image: linear-gradient(to right, #03a9f4, #00afee, #00b4e7, #00b8de, #00bcd4);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 300px;
    height: auto;
    color: white;
    font-size: 20px;
    letter-spacing: 2.5px;
    
    margin: 30px;
}


.chart {
    margin-top: 80px;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #000;
    height: 18px;
    width: 18px;
    margin-top: -8px;
    border-radius: 99px;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: #ddd;
  }
  


  .nav {
    height: 60px;
    width: 100%;
    background-color: #d3620b;
    position: relative;
    z-index: 2;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {

      font-family: 'Nanum Gothic';
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 15px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 18px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: none;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgb(227, 142, 39);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 60px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        font-family: 'Nanum Gothic';
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        font-family: 'Nanum Gothic';
        align-content: center;
        
      height: calc(35vh - 100px);
      overflow-y: auto;
    }
  } 